extends layout

block content
  h1= title
  - let items = results
  div(class="container-fluid")
        div(class="row m-1")
             each item in items
              - let destination = `dispatch(\"/house/update/?id=${item._id}\")`
              div(class="row-sm-2", class = "m1-1") House: #{item.house_price}(#{item.house_area}) is #{item.house_type} 
               button.btn(class="btn-primary m1-1", onclick=destination) Update
  script.
    function buy(p)
    {
        alert(`You have purchased an item ${p+1}`);
    }
  script.
    function dispatch(path){
        console.log(path);
        window.location.href=path
    }