extends layout 
 
block content 
  h1= title 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let houseid = toShow._id
    - let houseprice = toShow.house_price
    - let sarea = toShow.house_area
    - let stype= toShow.house_type
    - let actionid = "/resource/house/" + houseid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='houseAttr mr-3') House  ID is: 
        div #{houseid} 
      div.row 
        div(class='houseAttr mr-3') HousePrice is: 
        div #{houseprice} 
      div.row 
        div(class='houseAttr mr-3') House Area  is: 
        div #{sarea} 
      div.row 
        div(class='houseAttr mr-3') House Type is: 
        div #{stype} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the costume collection 
      window.location.href='/house' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      //Dont need a body for the delete 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/house' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 